
/*Paleta de colores (en 'root' registramos nuestro custom propertys)*/
:root{

    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #5ac5aa;
    --secundario: #FFC107;
    --gris: #757575;
}
       
       
      /*principal*/

html{
    font-size: 60.5%;
    font-family: sans-serif;/*para que se aplique a todos los textos*/
    
}
body{

    font-size: 16px; /*1rem = 10px*/
    margin: 0; /*para tomar todo el espacio de mis etiquetas*/
}

a {
    text-decoration: none;
}


                        /* Header de la Pagina */
.header-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
 
}



.header-principal input {
    width: 40rem; /*largo del input */
    height: 4.5rem; /*altura del input*/
    font-size: 1.5rem;  /*tamaño del texto ingresado en el input*/;
    padding-left: 2.5rem; /*rellenamos el lado izquierdo DENTRO del input*/

}


@media (min-width: 768px) {
  .header-principal input{
    width: 90rem;
  }
}

.header-titulo {
    
    font-size: 3.2rem;
    padding-left: 1.5rem; /*rellenamos el lado izquierdo*/
    padding-right: 4.5rem; /*rellenamos el lado derecha*/
    
}


.header-principal h3{
    color: var(--blanco);
    margin: 0;  /*quitamos el margin para q tome todo el color de fondo.*/
    padding: 1.5rem; /*relleno del contenedor h3.*/
    font-size: 1.5rem; /*tamaño de letra del h3*/
    text-align: center; /*centramos el contenido h3*/
    background-color: var(--primario) /*color de fondo del h3*/
   
}


/*titulo + busqueda + miCuenta + Carrito*/
.header-busqueda {
    display: flex;
    flex-direction: column; /*Elementos alineados verticalmente*/
    align-items: center; /*Centra los elementos horizontalmente*/
    justify-content: center;
    max-width: 120rem; /*/* Establece el ancho máximo del contenedor */
    margin: 0 1rem 0 2.5rem; 
}


@media (min-width: 780px ) {
  .header-busqueda{
    flex-direction: row; /* Cuando los px sea mas de 768px q la navegacion se vea en row*/
  }
}

.header-contenedor-a{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
  
    
}

@media (min-width: 768px) {
  .header-contenedor-a{
    flex-direction: row;
  }
}
.miCuenta, .miCarrito {
  position: relative; /* Permite mover los elementos sin sacarlos del flujo normal */
}

.miCuenta span {
  display: flex;
  font-size: 1.3rem;
  position: relative; /*para mover o super poner a cualquier elemento*/
  bottom: 0.5rem;
  
}

.miCuenta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  margin: 0 2rem;
  right: -5rem;
  text-align: center;
}

.miCarrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: -4rem;

}



                     /*Barra de Navegacion*/

.contenedor-navegacion{ /*div*/
  display: flex;
  margin-top: 2rem;

}

.navegacion-principal {
  display: flex; /*flex para alinear el contenido 'div'*/
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        
    }
}


.contenedor {
    width: 120rem; /*ancho de 120rem  xq es el estandar*/
    margin: 0 auto 0 auto /*top, right, bottom, left*/

    /*margin-left: auto; /*margen izquierdo: posicion auto*/
    /*margin-right: auto; /*margen derecho: posicion auto*/
    
}                  

.navegacion-principal a {
   color:#5ac5aa;
   text-transform: uppercase; /*texto en mayuscula*/
   margin: 0 1rem ;
   font-size: 1.8rem; /*tamaño de texto*/
   margin-bottom: 2rem;
   border-bottom: 2px solid transparent; /* Crea un borde invisible por defecto */
   transition: border-bottom 0.3s ease; /* Añade una transición suave */
   
}
/*':hover' Aplica un estilo cuando el cursor se posiciona en una etiqueta o elemento.*/
.navegacion-principal a:hover {
  border-bottom: 2px solid #5ac5aa; 
}






                            /*carousel*/

.contenedor-carousel{
  position:relative;
  width: 100%; /*Ajustamos el tamaño del contenedor de 'carousel'*/
  overflow: hidden;/* Oculta las imágenes fuera del contenedor */

}                          

.contenedor-imagenes{
  display: flex; /*flexible, pone las imagenes en en fila (row)*/
  transition: transform 0.5s ease-in-out; /*suaviza el movimiento de las imagenes*/
  width: calc(100% * 2); /* Ajusta el ancho total del contenedor según la cantidad de imágenes */
}

.contenedor-imagenes img {

  width: 100%; /*cada imagen ocupa el 100% de su contenedor*/
 
}

.contenedor-carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

button.prev {
  left: 10px; /* Botón a la izquierda */
}

button.next {
  right: 10px; /* Botón a la derecha */
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Efecto hover en botones */
}