
/*Paleta de colores (en 'root' registramos nuestro custom propertys)*/
:root{

    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #5ac5aa;
    --secundario: #f3b704;
    --gris: #909090;
 
}
       
       
      /*principal*/

html{
    font-size: 55%;
    font-family: Arial, Helvetica, sans-serif;/*para que se aplique a todos los textos*/
    
}
body{

  font-size: 15px; /*1rem = 10px*/
  overflow-x: hidden;
  margin: 0;
  padding: 0;
 
  }

h2{
  color: #292929;
}

p{
  color: #666666;
}
a {
    text-decoration: none;
}
input:focus {
  outline: none; /* Elimina el contorno del borde al enfocarse */
}



                        /* Header de la Pagina */


.relleno{
  margin: 0;  /*quitamos el margin para q tome todo el color de fondo.*/
  padding: 1.5rem; /*relleno del contenedor h3.*/
  font-size: 1.5rem; /*tamaño de letra del h3*/
  text-align: center; /*centramos el contenido h3*/
  background-color: var(--primario) /*color de fondo del h3*/
 
}

.contenedor-header-principal{
  display: flex; /* Utiliza flexbox para el diseño */
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
  transform: scale(1);
  width: 100%; /* Asegura que ocupe todo el ancho */
}


.header-contenido{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  margin-right: 2.5rem;
 
}

@media (min-width: 768px) {
    .header-contenido {
      flex-direction: row;
      gap: 4rem
    }
}

.header-contenido input {
    width: 35rem; /*largo del input */
    height: 4.5rem; /*altura del input*/
    font-size: 1.8rem;  /*tamaño del texto ingresado en el input*/;
    padding-left: 2.5rem; /*rellenamos el lado izquierdo DENTRO del input*/
    border: 1px solid #5ac5aa;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el tamaño total */
    outline: none;
    background-color:#f4f2f2;
  }


@media (min-width: 768px) {
  .header-contenido input{
    width: 90rem;
  }
}







/*titulo + busqueda + miCuenta + Carrito*/
.header-busqueda {
    display: flex;
    flex-direction: column; /*Elementos alineados verticalmente*/
    align-items: center; /*Centra los elementos horizontalmente*/
    justify-content: center;
    max-width: 120rem; /*/* Establece el ancho máximo del contenedor */
    margin: 0 1rem 0 2.5rem; 
    padding: 0 1rem;
}


@media (min-width: 780px ) {
  .header-busqueda{
    flex-direction: row; /* Cuando los px sea mas de 768px q la navegacion se vea en row*/
  }
}


@media (min-width: 768px) {
  .header-contenedor-a{
    flex-direction: row;
  }
}






.logo-titulo{
  display: flex;
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Centra el texto */

}

.logo-titulo img {
  height: 13rem;
  margin-right: -3rem;
}


.miCuenta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
/*-------------cartel opciones-----------*/

.dropdown {
  display: none; /* Ocultar por defecto */
  position: absolute; /* Para que se posicione relativo al padre */
  background-color: var(--blanco);
  border: 1px ; 
  border-radius: .2rem;
  padding: 1rem; /* Espacio interno */
  top: 100%; 
  width: 120px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
  transition: opacity 0.5s ease-in-out 0.3s, transform 0.5s ease-in-out 0.3s; /* Suavidad con delay */
  
}

.miCuenta:hover .dropdown {
  display: block; /* Mostrar el dropdown al pasar el mouse */

}

.option a{
  color: var(--gris);
}


.dropdown .option {
  padding: 0.5rem; /* Espacio interno para las opciones */
  
  
}

.dropdown .option:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}


/*-------------cartel opciones-----------*/


.miCuenta span {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 8rem;
  font-size: 12px;
}

.miCuenta a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gris);
}

.iconos {
  display: flex;
  align-items: center;
  justify-content:space-between;  
}

.miCarrito a {
  margin-left: 1rem;
 
}



.logo-titulo h2 span {
  color: #5ac5aa;
}




                     /*Barra de Navegacion*/

.contenedor-navegacion{ /*div*/
  display: flex;
  margin-top: 2rem;
  gap: 2rem;

}

.navegacion-principal {
  display: flex; /*flex para alinear el contenido 'div'*/
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        
    }
}


.contenedor {
    width: 120rem; /*ancho de 120rem  xq es el estandar*/
    margin: 0 auto 0 auto; /*top, right, bottom, left*/
    margin-top: 10px;
    /*margin-left: auto; /*margen izquierdo: posicion auto*/
    /*margin-right: auto; /*margen derecho: posicion auto*/
    
}                  
@media (min-width: 768px) {
  .contenedor {
    margin-top: -2rem;

  }
    
}
.navegacion-principal a {
   color:#5ac5aa;
   text-transform: uppercase; /*texto en mayuscula*/
   margin: 0 1rem ;
   font-size: 1.8rem; /*tamaño de texto*/
   margin-bottom: 2rem;
   border-bottom: 2px solid transparent; /* Crea un borde invisible por defecto */
   transition: border-bottom 0.3s ease; /* Añade una transición suave */
   
}
/*':hover' Aplica un estilo cuando el cursor se posiciona en una etiqueta o elemento.*/
.navegacion-principal a:hover {
  border-bottom: 2px solid #5ac5aa; 
}




                            /*carousel*/
                            
.contenedor-principal-pagina{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 250, 255);
 

}

.main-contenido {
  width: 100%;
  margin: 0 ; /* Esto centra el contenido */
  padding: 0;
  
}

@media (min-width: 768px) {
  .main-contenido{
    width: 100%;
    margin: 0;
  }
    
}


.contenedor-carousel{
  position:relative;
  width: 100%; /*Ajustamos el tamaño del contenedor de 'carousel'*/
  overflow: hidden;/* Oculta las imágenes fuera del contenedor */
  max-width: 125rem;
  margin: 0 auto; /*Centra el carousel horizontalmente*/
  overflow: hidden; /* Oculta cualquier desbordamiento de imágenes */

}                          

.contenedor-imagenes{
  display: flex; /*flexible, pone las imagenes en en fila (row)*/
  transition: transform 0.5s ease-in-out; /*suaviza el movimiento de las imagenes*/
  width: calc(100% * 2); /* Ajusta el ancho total del contenedor según la cantidad de imágenes */
}

.contenedor-imagenes img {

  width: 100%; /*cada imagen ocupa el 100% de su contenedor*/
  height: 48rem;
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

.contenedor-carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 1.2rem;
  cursor: pointer; /*aparece la mano 'seleccionar'*/
  z-index: 1;
 
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  font-size: 2.2rem;
}

button.prev {
  left: 10px; /* Movemos la ubi del boton 10px hacia la izquierda */
}

button.next {
  right: 10px; /* Movemos la ubi del botton 10px hacia la derecha */
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Efecto al posicionarme en los botones */
}


.linea-separacion{
 
  margin-top: 3rem; /* Elimina márgenes */
  padding: 0; /* Elimina padding, lo ajustaremos con transform */
  border-top: 2px solid #cecece; /* Línea de separación */
  border-bottom: none; /* Sin línea en la parte inferior */
  transform: translateY(10px); 
}



                        /*Ofertas-Promociones*/

.titulo-ofertas{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
 
}

.contenedor_ofertas {
  margin-top: 2rem; /* Agrega un espacio de 2rem entre la sección anterior y las ofertas */
}

.contenedor-pro-destacados{
  display:  flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 3rem 0;
}

.contenedor-pro-destacados a {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .dos-columnas{
      display: grid;
      grid-template-columns: 50% 50%; /*columnas de plantilla de cuadrícula*/
      column-gap: 1rem;
      justify-content: center; /* Centra las columnas horizontalmente */
      align-items: center; /* Centra el contenido de cada columna verticalmente */
      
  }
}

.entrada_oferta img {
  display: block;
  margin: 0 auto; /* Centra la imagen horizontalmente */
  width: 100%; /* Asegura que la imagen no se salga del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.otras-ofertas{
  display: flex;
  margin-top: 2rem;
  gap: 2.5rem;
  

}


/* productos destacadsa con precios*/
.titulo-pro-destacados{
  display: flex;
  align-items: center;
  justify-content: center;
}


                              /*Carousel 2*/      
 
/* Estilos básicos del carrusel */
.contenedor-carousel-2 {
  position: relative;
  width: 100%;
  max-width: 1000px; /* Ancho máximo del carrusel, ajusta según necesites */
  margin: auto;
  overflow: hidden; /* Oculta las imágenes que no están visibles */
}

/* Contenedor de imágenes */
.contenedor-imagenes-2 {
  display: flex;
    transition: transform 0.5s ease-in-out; /* Animación de desplazamiento */
    width: 200%; /* Ajustamos el ancho para que el desplazamiento sea fluido */
    gap: 2rem;
}




/* Estilos de los elementos <a> que contienen las imágenes */
.contenedor-imagenes-2 a { 
    box-sizing: border-box;
    padding: 0 10px; /* Espaciado entre las imágenes */
}

/* Estilos de las imágenes */
.contenedor-imagenes-2 img {
  width: 100%; /* Las imágenes se ajustan al 100% del contenedor */
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*sombra*/
  
}


.contenedor-imagenes-2 a:hover img {
  transform: scale(1.1); /* Agranda la imagen al 110% */
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2); /* Sombra más intensa cuando está en hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.contenedor-carousel-2 button:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Efecto al posicionarme en los botones */
}

button.prev {
  left: 0;
}




                  /*Acerca de 'Farmacia en Casa'*/

.header-2{
  text-align: center;
  margin-top: 5rem;
  margin-bottom:  5rem;
 
}


 .parrafo-span{
  color: #1c1c1c;
  font-weight: bold;


}


                      /*FORMULARIO: Clientes registrados*/

.header-inicio-sesion{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-inicio-sesion h3{
  color: var(--primario);
  font-weight: 400;
  
}

.contenedor-titulo-h3{
  
  border-bottom: 0.5px solid rgb(170, 170, 170); /* Línea en la parte inferior */
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.linea-separacion-2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2.5rem 0 2rem;
  border-top: 1.2px solid var(--primario); /* Línea de separación */
  
 
}

.contenedor-login{
  display: flex;
  justify-content: space-between; /* Distribuye los elementos entre la izquierda y derecha */
  align-items: flex-start; /* Alinea los elementos al inicio (arriba) */
  max-width: 100%; /* Asegura que ocupe todo el ancho disponible */
  gap: 10rem; /* Espacio entre los dos contenedores */
  margin-top: 5rem;
 
}
.clientes-registrados, .nuevos-clientes {
  width: 48%; /* Ajusta el tamaño para que ambos contenedores ocupen el 48% del ancho */
  color: #292929;
}

.clientes-registrados h3{
  margin-left: 2rem;
  font-weight: 600;
  
}

.formulario {
  width: min(60rem,100%);
  border-radius: 1rem;
 
}

.formulario fieldset{
  border: none;
  margin-left: 1rem;
}

.formulario legend {
  padding-left: 0;
  margin-bottom: 4rem;
  color: #272727;
}

.campo{
  margin-bottom: 2.5rem;
}

.contenedor-login-dos{
  align-items: center;
  justify-content: center;
  max-width: 100%;
}


/*crearCuenta*/
@media (min-width: 768px) {
    .contenedor-login-dos{
      justify-content: space-between; /* Distribuye los elementos entre la izquierda y derecha */
      align-items: flex-start; /* Alinea los elementos al inicio (arriba) */
    }
}



.referencia{
  margin-top: 8rem;
}

.campo2 input{
 width: 16rem;
}



.legend{
  display: flex;
  justify-content:flex-start;
  width: 100%;
  font-weight: 500; /*sin rem o px*/
  font-size: 2.5rem;
  border: none;
  border-bottom: 1px solid var(--gris);
  padding: 1rem;
  
  
 
}


.contenedor-checkbox {
  margin-bottom: 4rem;
}
.contenedor-checkbox p {
  color: red;
  font-size: 1.5rem;
  user-select: none; /* Evita la selección de texto */

}
/*fin crear cuenta*/



.campo label {
  font-weight: bold;
  margin-bottom: 1.5rem;
  display: block;
}


.input-text {
  width: 98%;
  padding: 0.5rem;
  font-size: 14px;
  color: #3b3b3b;
  
}



.input-text:focus {
  outline: none; /* Eliminar contorno predeterminado */
  border-color: rgba(0, 128, 255, 0.5); /* Cambiar el color del borde */
  box-shadow: 0 0 5px rgba(0, 128, 255, 0.5); /* Sombra azulada al enfocar */
}


.boton{
  background-color: var(--primario);
  color: var(--blanco);
  margin-top: 3rem;
  text-decoration: none;
  border-radius:  2rem;
  text-align: center;
  border: none; 
  height: 6rem; 
  

}

.boton span{
  margin-top: 0rem;
}

.boton:hover{
  cursor: pointer;
}

@media (min-width: 768px) {
    .boton{
      width: 14rem;
    }
}

.contenedor-checkbox{
  margin-left: .5rem;
}

.input-checkbox{
  transform: scale(1.5);
  margin-right: 10px
}



.campo span {
  color: red;
  margin-left: 1rem;
  user-select: none; /* Evita la selección de texto */
}

/*Lado derecho*/
.contenedor-titulo-h3-dos{
  border-bottom: 0.5px solid rgb(170, 170, 170); /* Línea en la parte inferior */
  border-top: none;
  border-right: none;
  margin-bottom: 2rem;
 

}

.boton-crear{
  border-radius: .5rem;
  width: 150px; 
  height: 40px; 
  font-size: 14px; 
  padding: 5px 10px; 
}



/*Pagina 'marcas.html'*/
.header-marcas{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: rgb(104, 252, 136);
  margin-bottom: 3rem;
}

.header-marcas h2{
  color:#171717;
  font-weight: 500;
  font-size: 26px;
}

.campo-marca{
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a nuevas filas */
  margin: 5rem 0 6rem 0;
  border:none;
  border-top:  1px solid var(--gris);
  border-bottom:  1px solid var(--gris);
  width: 100%;

}

.campo-marca div{ 
  display: flex; /*contenedores de 'a'*/
  margin: 2.5rem;
  width: 100%; /* Para que cada fila ocupe el 100% del ancho */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  border: none;
}



.contenedor-marca-link{
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  width: 100%;
  margin: 2.5rem;
}

.contenedor-marca-link :hover{
  border-color: rgba(60, 250, 60, 0.7); /* Cambia el color del borde a verde brillante */
  box-shadow: 0 0 15px 5px rgba(60, 250, 60, 0.7); /* Añade un resplandor verde */
  
}

.campo-marca-tercero{
  display: flex;  
  margin: 5rem 0 6rem 0;
  border:none;
  border-top:  1px solid var(--gris);
  border-bottom:  1px solid var(--gris);
  
}


/*fin. Pagina 'marcas.html*/





              /*Footer pie de pagina*/
              

.pie-de-pagina{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 2rem 0 2rem;
  padding: 0;
  gap: 2rem;
  width: 100%;
  max-width: 100%;

}

.footer_list {
  margin: 0; /* Elimina márgenes innecesarios */
  padding: 0; /* Asegúrate de que no haya padding adicional */
  max-width: 100%;
}

.pie-de-pagina div{
  flex: 1; /* Asegura que cada div ocupe el mismo tamaño horizontalmente */
  text-align: center; /* Centra el contenido dentro de cada div */
  padding: 10px;
}


.footer_list h4{
  border: none;
  border-bottom: 1.5px solid var(--primario);
  padding: 1rem;
  text-align: left; /* Alinea el texto a la izquierda */
  margin: 0; 
  width: 16rem; /*mismo tamaño de liniea bottom*/
  color: var(--gris);
}


.pie-de-pagina ul{
  list-style-type: none; /*quitamos los estilos por default de las listas*/
  padding-left: 0;
  text-align: left;
  margin-top: 2rem;
  
  
}

.pie-de-pagina li{
  margin-top: 1.5rem;
  font-size: 12px;
  color: var(--gris);
}

.pie-de-pagina a  {
  color:var(--gris) ;
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.pie-de-pagina a:hover{
 
  color: var(--primario);

}

.logo-footer{
  display: flex;
  width: 193px;
 

}





.small-pie{
  
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #6e716e;
  margin-top: 5rem;
  border-top: 1px solid;
  

}

.small-pie p {
  color: var(--blanco);
  
}